
.login {
    padding: 50px;
    margin: 50px;
    border: 1px #151223 solid;
    width: 60%;
    /* display: flex;
    align-items: center; */
    border-radius: 10px;
}
label{
    display: inline-block;
    width: 80px;
    padding: 10px;
}
.login input{
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
button{
    padding: 10px;
    width: 150px;
    border: none;
    cursor: pointer;
    background-color: #151223;
    color: #fff;

}
button:hover{
    background-color: rgb(165, 19, 19);
}