<h1>Unformated Date: {{toDate}}</h1>
<h2>Formated Date {{toDate | date:'shortDate' | uppercase}}</h2>

<p>short : {{toDate | date:'short'}} </p>
<p>fullDate : {{toDate | date:'fullDate'}} </p>
<p>longDate : {{toDate | date:'longDate'}} </p>
<p>mediumDate : {{toDate | date:'mediumDate'}} </p>
<p>shortDate : {{toDate | date:'shortDate'}} </p>
<p>mediumTime : {{toDate | date:'mediumTime'}} </p>
<p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
<p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>`


<h1>Slice Name {{fullName | slice:0:7}} and {{fullName | slice:8:11}}</h1>
<!-- <p>Example 2 :{{per | percent:'1.2-2'}} </p>` -->

<h4>Custome pipe (birr to dollar ) {{amount | money:'$':'birr'}} </h4>

