<div class="nav">
    <ul>
        <!-- <li><a routerLink="home">Home</a></li> -->
        <li><a routerLink="product-list">Product List</a></li>
        <li><a routerLink="registered-user">New User</a></li>
        <li><a routerLink="staff">All Users</a></li>




        <!-- <li><a [routerLink]="['/home/new-product']">New Product</a></li>
        <li><a [routerLink]="['/home/product-list']">Product List</a></li>
        <li><a [routerLink]="['/home/contact']">Contact Us</a></li>
        <li><a [routerLink]="['/home/login']">Login</a></li> -->
    </ul>
</div>